@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
direction: rtl;
  }

  .ltr {
        direction: ltr;
  }
  .rtl {
        direction: rtl;
  }
}

@layer components {
  .container {
    max-width: 1400px;
    /* @apply sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px]; */
  }
}
