---
import '@/styles/globals.css'
import '@/styles/default.css'
import 'animate.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400&family=Heebo:wght@100;200;300;400;700&family=Recursive:CRSV@1&display=swap"
	rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<title>autoworks</title>
	</head>
	<body>
		<div class="relative">
			<div class="flex-1">
				<slot />
			</div>
		</div>
	</body>
</html>

